name: Build Release App (Windows & macOS)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # ---------------------------------------------------
  # 1. 윈도우 빌드 작업
  # ---------------------------------------------------
  build-windows:
    if: contains(github.event.head_commit.message, '[BUILD]')
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get
        
      - name: Enable Windows
        run: flutter config --enable-windows-desktop

      - name: Build Windows
        run: flutter build windows --release

      - name: Compress Windows Release
        run: Compress-Archive -Path build\windows\x64\runner\Release\* -DestinationPath uglian_windows.zip

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-release
          path: uglian_windows.zip
